/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [CustomerID]
      ,[CustomerName]
      ,[AccountOpenedDate]
      ,[DeliveryAddressLine1]
      ,[DeliveryAddressLine2]
      ,[DeliveryCityID]
      ,[DeliveryPostalCode]
      ,[DeliveryLocation]
      ,[PhoneNumber]
      ,[FaxNumber]
      ,[PostalAddressLine1]
      ,[PostalAddressLine2]
      ,[PostalPostalCode]
      ,[PostalCityID]
      ,[BillToCustomerID]
      ,[CustomerCategoryID]
      ,[BuyingGroupID]
      ,[PrimaryContactPersonID]
      ,[AlternateContactPersonID]
      ,[WebsiteURL]
      ,[DeliveryMethodID]
      ,[LastEditedBy]
      FROM [WideWorldImporters].[Sales].[Customers]
  